.container {
  margin-top: 100px;
}
.infoContainer {
  display: flex;
  flex-direction: column; /* default: mobile = atas-bawah */
}

.textContainer {
  flex: 1;
}

.titleH1 {
  margin-top: 50px;
}

.title {
  font-size: 64px;
  margin-bottom: 50px;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userImageContainer {
  width: 50px;
  height: 50px;
  position: relative;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.userTextContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--softTextColor);
}

.username {
  font-size: 20px;
  font-weight: 500;
}

.imageContainer {
  flex: 1;
  height: 350px;
  position: relative;
  margin-top: 30px;
}

.image {
  object-fit: cover;
}

.content {
  display: flex;
  gap: 50px;
}

.post {
  flex: 5;
  margin-top: 60px;
}

.description {
  margin-bottom: 1em;
  line-height: 1.8;
}

.description p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}
.description li::before {
  position: absolute;
}

@media screen and (max-width: 1536px) {
  .title {
    font-size: 54px;
  }
}
@media screen and (max-width: 1280px) {
  .title {
    font-size: 48px;
  }
}
@media screen and (max-width: 1024px) {
  .infoContainer {
    display: flex;
    flex-direction: column; /* default: mobile = atas-bawah */
  }

  .textContainer,
  .imageContainer {
    flex: 1;
  }
}
@media screen and (max-width: 640px) {
  .title {
    font-size: 36px;
  }

  .description p {
    font-size: 18px;
  }
}

/*Page Post Input*/

.content {
  font-size: 1rem;
}

.content p {
  text-align: justify;
}
.content ul {
  padding-left: 2em;
  list-style-type: disc;
  margin-bottom: 1em;
}

.content li {
  margin-bottom: 0.5em;
  text-align: justify;
  margin-left: 30px;
}
.content strong {
  font-weight: bold;
  color: #4682a9;
}

.content em {
  font-style: italic;
}

/* sementara dimatikan
.content a {
  color: #4fd1c5;
  text-decoration: underline;
}

.content img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 1rem 0;
}
  */
.user {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 1rem;
}

.userImageContainer {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 999px;
  overflow: hidden;
}

.avatar {
  object-fit: cover;
  border-radius: 999px;
}

.imageContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.image {
  object-fit: cover;
  border-radius: 12px;
}
