.container {
  margin-top: 100px;
  padding-top: 30px;
}
.wrapper {
  height: 100px;
  background-color: #4682a9;
  text-align: center;
  justify-content: center;
  padding-top: 25px;
}
.title {
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-transform: capitalize;
  justify-content: center;
}

.content {
  display: flex;
  gap: 50px;
}
